<%- include('partials/header'); -%>
<h1><% %></h1>

<h3>“Hi,</h3>
<p>
  We have just received your request. We will get back to you within 2 business
  days. For the record, your support ticket number is ABC235. Please present it
  for all future correspondence.
</p>

<P> Thanks, The Support Team.”</P>
<%- include('partials/footer'); -%>
